:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1f2933;
  background-color: #f3f4f6;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f5f5f5;
}
